<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CropList</key>
	<array>
		<dict>
			<key>CropName</key>
			<string>rice</string>
			<key>MinTemp</key>
			<integer>15</integer>
			<key>MaxTemp</key>
			<integer>27</integer>
			<key>MinRainfall</key>
			<integer>100</integer>
			<key>MaxRainfall</key>
			<integer>150</integer>
			<key>ImageName</key>
			<string>rice.png</string>
			<key>SoilTypeToDisplay</key>
			<string>heavy clayey to clayey loam </string>
			<key>ProducersToDisplay</key>
			<string>China, India, Indonesia</string>
			<key>SoilType</key>
			<array>
				<string>heavy-clayey</string>
				<string>clayey-loom</string>
			</array>
			<key>TopProducers</key>
			<array>
				<string>China</string>
				<string>India</string>
				<string>Indonesia</string>
			</array>
		</dict>
		<dict>
			<key>CropName</key>
			<string>Pulses</string>
			<key>MinTemp</key>
			<integer>20</integer>
			<key>MaxTemp</key>
			<integer>27</integer>
			<key>MinRainfall</key>
			<integer>25</integer>
			<key>MaxRainfall</key>
			<integer>60</integer>
			<key>ImageName</key>
			<string>pulses.jpg</string>
			<key>SoilTypeToDisplay</key>
			<string>sandy loam</string>
			<key>ProducersToDisplay</key>
			<string>India (Madhya Pradesh, Rajasthan, Uttar Pradesh)</string>
			<key>SoilType</key>
			<array>
				<string>Sandy-loam</string>
			</array>
			<key>TopProducers</key>
			<array>
				<string>India</string>
			</array>
		</dict>
		<dict>
			<key>CropName</key>
			<string>Wheat</string>
			<key>MinTemp</key>
			<integer>12</integer>
			<key>MaxTemp</key>
			<integer>25</integer>
			<key>MinRainfall</key>
			<integer>25</integer>
			<key>MaxRainfall</key>
			<integer>75</integer>
			<key>ImageName</key>
			<string>wheat.png</string>
			<key>SoilTypeToDisplay</key>
			<string>well drained light clay to heavy clay  </string>
			<key>ProducersToDisplay</key>
			<string>China, India, USA</string>
			<key>SoilType</key>
			<array>
				<string>well-drained-light clay</string>
				<string>heavy clay </string>
			</array>
			<key>TopProducers</key>
			<array>
				<string>China</string>
				<string>India</string>
				<string>USA</string>
			</array>
		</dict>
		<dict>
			<key>CropName</key>
			<string>Lentil</string>
			<key>MinTemp</key>
			<integer>15</integer>
			<key>MaxTemp</key>
			<integer>25</integer>
			<key>MinRainfall</key>
			<integer>25</integer>
			<key>MaxRainfall</key>
			<integer>50</integer>
			<key>ImageName</key>
			<string>lentil.jpg</string>
			<key>SoilTypeToDisplay</key>
			<string>loamy to clayey loam  </string>
			<key>ProducersToDisplay</key>
			<string>Europe, Egypt, Greece</string>
			<key>SoilType</key>
			<array>
				<string>Loamy</string>
				<string>clayey-loom</string>
			</array>
			<key>TopProducers</key>
			<array>
				<string>Europe</string>
				<string>Egypt</string>
				<string>Greece</string>
			</array>
		</dict>
		<dict>
			<key>CropName</key>
			<string>Maize (Corn)</string>
			<key>MinTemp</key>
			<integer>15</integer>
			<key>MaxTemp</key>
			<integer>27</integer>
			<key>MinRainfall</key>
			<integer>65</integer>
			<key>MaxRainfall</key>
			<integer>125</integer>
			<key>ImageName</key>
			<string>maize.jpg</string>
			<key>SoilTypeToDisplay</key>
			<string>Deep heavy clay to light sandy loam </string>
			<key>ProducersToDisplay</key>
			<string>USA, China, Brazil</string>
			<key>SoilType</key>
			<array>
				<string>Deep-heavy clay</string>
				<string>light sandy loam</string>
			</array>
			<key>TopProducers</key>
			<array>
				<string>USA</string>
				<string>China</string>
				<string>Brazil</string>
			</array>
		</dict>
		<dict>
			<key>CropName</key>
			<string>Millets</string>
			<key>MinTemp</key>
			<integer>20</integer>
			<key>MaxTemp</key>
			<integer>35</integer>
			<key>MinRainfall</key>
			<integer>25</integer>
			<key>MaxRainfall</key>
			<integer>75</integer>
			<key>ImageName</key>
			<string>millets.jpg</string>
			<key>SoilTypeToDisplay</key>
			<string>sandy loam to clayey loam  </string>
			<key>ProducersToDisplay</key>
			<string>China, USA, India</string>
			<key>SoilType</key>
			<array>
				<string>Sandy-loam</string>
				<string>clayey-loom</string>
			</array>
			<key>TopProducers</key>
			<array>
				<string>China</string>
				<string>USA</string>
				<string>India</string>
			</array>
		</dict>
		<dict>
			<key>CropName</key>
			<string>Bajra (Pearl Millet) </string>
			<key>MinTemp</key>
			<integer>25</integer>
			<key>MaxTemp</key>
			<integer>35</integer>
			<key>MinRainfall</key>
			<integer>25</integer>
			<key>MaxRainfall</key>
			<integer>60</integer>
			<key>ImageName</key>
			<string>bajra.jpg</string>
			<key>SoilTypeToDisplay</key>
			<string>sandy loam to loam</string>
			<key>ProducersToDisplay</key>
			<string>India (Rajasthan, Maharashtra, Gujarat)</string>
			<key>SoilType</key>
			<array>
				<string>Sandy loam</string>
				<string>loam</string>
			</array>
			<key>TopProducers</key>
			<array>
				<string>India</string>
			</array>
		</dict>
		<dict>
			<key>CropName</key>
			<string>Oilseeds</string>
			<key>MinTemp</key>
			<integer>15</integer>
			<key>MaxTemp</key>
			<integer>30</integer>
			<key>MinRainfall</key>
			<integer>30</integer>
			<key>MaxRainfall</key>
			<integer>50</integer>
			<key>ImageName</key>
			<string>oilseed.jpg</string>
			<key>SoilTypeToDisplay</key>
			<string>loamy to clayey loam  </string>
			<key>ProducersToDisplay</key>
			<string>India (Rajasthan, Uttar Pradesh, Madhya Pradesh)</string>
			<key>SoilType</key>
			<array>
				<string>loam</string>
				<string>clayey-loom</string>
			</array>
			<key>TopProducers</key>
			<array>
				<string>India</string>
			</array>
		</dict>
		<dict>
			<key>CropName</key>
			<string>Groundnut</string>
			<key>MinTemp</key>
			<integer>20</integer>
			<key>MaxTemp</key>
			<integer>30</integer>
			<key>MinRainfall</key>
			<integer>50</integer>
			<key>MaxRainfall</key>
			<integer>75</integer>
			<key>ImageName</key>
			<string>groundnut.jpg</string>
			<key>SoilTypeToDisplay</key>
			<string>well drained sandy loams, red, black cotton </string>
			<key>ProducersToDisplay</key>
			<string>India, China, USA</string>
			<key>SoilType</key>
			<array>
				<string>well-drained-sandy loams</string>
				<string>red</string>
				<string>black</string>
			</array>
			<key>TopProducers</key>
			<array>
				<string>India</string>
				<string>China</string>
				<string>USA</string>
			</array>
		</dict>
		<dict>
			<key>CropName</key>
			<string>Sugarcane</string>
			<key>MinTemp</key>
			<integer>20</integer>
			<key>MaxTemp</key>
			<integer>35</integer>
			<key>MinRainfall</key>
			<integer>85</integer>
			<key>MaxRainfall</key>
			<integer>165</integer>
			<key>ImageName</key>
			<string>sugarcane.jpg</string>
			<key>SoilTypeToDisplay</key>
			<string>well drained alluvium, black, red, brown regur</string>
			<key>ProducersToDisplay</key>
			<string>Brazil, India, China</string>
			<key>SoilType</key>
			<array>
				<string>Well-drained alluvium</string>
				<string>black</string>
				<string>red</string>
				<string>brown regur</string>
			</array>
			<key>TopProducers</key>
			<array>
				<string>Brazil</string>
				<string>India</string>
				<string>China</string>
			</array>
		</dict>
		<dict>
			<key>CropName</key>
			<string>Sugar beet </string>
			<key>MinTemp</key>
			<integer>10</integer>
			<key>MaxTemp</key>
			<integer>25</integer>
			<key>MinRainfall</key>
			<integer>25</integer>
			<key>MaxRainfall</key>
			<integer>50</integer>
			<key>ImageName</key>
			<string>sugarbeet.jpg</string>
			<key>SoilTypeToDisplay</key>
			<string>well drained loamy</string>
			<key>ProducersToDisplay</key>
			<string>France, USA, Germany</string>
			<key>SoilType</key>
			<array>
				<string>Well-drained-loamy</string>
			</array>
			<key>TopProducers</key>
			<array>
				<string>France</string>
				<string>USA</string>
				<string>Germany</string>
			</array>
		</dict>
		<dict>
			<key>CropName</key>
			<string>Cotton</string>
			<key>MinTemp</key>
			<integer>18</integer>
			<key>MaxTemp</key>
			<integer>27</integer>
			<key>MinRainfall</key>
			<integer>60</integer>
			<key>MaxRainfall</key>
			<integer>110</integer>
			<key>ImageName</key>
			<string>cotton.png</string>
			<key>SoilTypeToDisplay</key>
			<string>well drained loam, regur (black-earth) </string>
			<key>ProducersToDisplay</key>
			<string>China, USA, India</string>
			<key>SoilType</key>
			<array>
				<string>well-drained loam</string>
				<string>regur (black-earth) </string>
			</array>
			<key>TopProducers</key>
			<array>
				<string>China</string>
				<string>India</string>
				<string>USA</string>
			</array>
		</dict>
		<dict>
			<key>CropName</key>
			<string>Tea</string>
			<key>MinTemp</key>
			<integer>15</integer>
			<key>MaxTemp</key>
			<integer>35</integer>
			<key>MinRainfall</key>
			<integer>100</integer>
			<key>MaxRainfall</key>
			<integer>250</integer>
			<key>ImageName</key>
			<string>tea.jpg</string>
			<key>SoilTypeToDisplay</key>
			<string>well drained, light loamy</string>
			<key>ProducersToDisplay</key>
			<string>India, China, Sri-Lanka</string>
			<key>SoilType</key>
			<array>
				<string>well-drained, light loamy</string>
			</array>
			<key>TopProducers</key>
			<array>
				<string>India</string>
				<string>China</string>
				<string>Sri-Lanka</string>
			</array>
		</dict>
		<dict>
			<key>CropName</key>
			<string>Coffee</string>
			<key>MinTemp</key>
			<integer>15</integer>
			<key>MaxTemp</key>
			<integer>28</integer>
			<key>MinRainfall</key>
			<integer>125</integer>
			<key>MaxRainfall</key>
			<integer>225</integer>
			<key>ImageName</key>
			<string>coffee.jpg</string>
			<key>SoilTypeToDisplay</key>
			<string>well drained alluvial</string>
			<key>ProducersToDisplay</key>
			<string>Brazil, Colombia, Indonesia</string>
			<key>SoilType</key>
			<array>
				<string>well-drained alluvial</string>
			</array>
			<key>TopProducers</key>
			<array>
				<string>Brazil</string>
				<string>Colombia</string>
				<string>Indonesia</string>
			</array>
		</dict>
		<dict>
			<key>CropName</key>
			<string>Cocoa</string>
			<key>MinTemp</key>
			<integer>18</integer>
			<key>MaxTemp</key>
			<integer>35</integer>
			<key>MinRainfall</key>
			<integer>100</integer>
			<key>MaxRainfall</key>
			<integer>250</integer>
			<key>ImageName</key>
			<string>cocoa.jpg</string>
			<key>SoilTypeToDisplay</key>
			<string>well drained alluvium </string>
			<key>ProducersToDisplay</key>
			<string>Ivory-Coast, Ghana, Indonesia</string>
			<key>SoilType</key>
			<array>
				<string>well-drained alluvium  </string>
			</array>
			<key>TopProducers</key>
			<array>
				<string>Ivory-Coast</string>
				<string>Ghana</string>
				<string>Indonesia</string>
			</array>
		</dict>
		<dict>
			<key>CropName</key>
			<string>Rubber</string>
			<key>MinTemp</key>
			<integer>25</integer>
			<key>MaxTemp</key>
			<integer>27</integer>
			<key>MinRainfall</key>
			<integer>150</integer>
			<key>MaxRainfall</key>
			<integer>250</integer>
			<key>ImageName</key>
			<string>rubber.png</string>
			<key>SoilTypeToDisplay</key>
			<string>rich well drained alluvial</string>
			<key>ProducersToDisplay</key>
			<string>Thailand, Indonesia, Malaysia</string>
			<key>SoilType</key>
			<array>
				<string>rich-well-drained alluvial</string>
			</array>
			<key>TopProducers</key>
			<array>
				<string>Thailand</string>
				<string>Indonesia</string>
				<string>Malaysia</string>
			</array>
		</dict>
		<dict>
			<key>CropName</key>
			<string>Jute</string>
			<key>MinTemp</key>
			<integer>25</integer>
			<key>MaxTemp</key>
			<integer>35</integer>
			<key>MinRainfall</key>
			<integer>150</integer>
			<key>MaxRainfall</key>
			<integer>250</integer>
			<key>ImageName</key>
			<string>jute.jpg</string>
			<key>SoilTypeToDisplay</key>
			<string>well drained alluvial</string>
			<key>ProducersToDisplay</key>
			<string>Bangladesh, India, China</string>
			<key>SoilType</key>
			<array>
				<string>Well drained alluvial</string>
			</array>
			<key>TopProducers</key>
			<array>
				<string>Bangladesh</string>
				<string>India</string>
				<string>China</string>
			</array>
		</dict>
		<dict>
			<key>CropName</key>
			<string>Flax</string>
			<key>MinTemp</key>
			<integer>10</integer>
			<key>MaxTemp</key>
			<integer>20</integer>
			<key>MinRainfall</key>
			<integer>15</integer>
			<key>MaxRainfall</key>
			<integer>20</integer>
			<key>ImageName</key>
			<string>flax.jpg</string>
			<key>SoilTypeToDisplay</key>
			<string>rich loam or clayey loam</string>
			<key>ProducersToDisplay</key>
			<string>India (Himachal Pradesh, Uttarakhand)</string>
			<key>SoilType</key>
			<array>
				<string>Rich loam</string>
				<string>clayey-loom</string>
			</array>
			<key>TopProducers</key>
			<array>
				<string>India</string>
			</array>
		</dict>
		<dict>
			<key>CropName</key>
			<string>Coconut</string>
			<key>MinTemp</key>
			<integer>25</integer>
			<key>MaxTemp</key>
			<integer>30</integer>
			<key>MinRainfall</key>
			<integer>100</integer>
			<key>MaxRainfall</key>
			<integer>600</integer>
			<key>ImageName</key>
			<string>coconut.png</string>
			<key>SoilTypeToDisplay</key>
			<string>lateritic red, sandy alluvial sandy</string>
			<key>ProducersToDisplay</key>
			<string>India (Kerala , Tamil Nadu, Andhra Pradesh)</string>
			<key>SoilType</key>
			<array>
				<string>lateritic red</string>
				<string>sandy alluvial</string>
			</array>
			<key>TopProducers</key>
			<array>
				<string>India</string>
			</array>
		</dict>
		<dict>
			<key>CropName</key>
			<string>Oil-palm</string>
			<key>MinTemp</key>
			<integer>22</integer>
			<key>MaxTemp</key>
			<integer>33</integer>
			<key>MinRainfall</key>
			<integer>250</integer>
			<key>MaxRainfall</key>
			<integer>400</integer>
			<key>ImageName</key>
			<string>oilpalm.jpg</string>
			<key>SoilTypeToDisplay</key>
			<string>deep loamy, alluvial</string>
			<key>ProducersToDisplay</key>
			<string>India (Andhra Pradesh, Karnataka, Assam)</string>
			<key>SoilType</key>
			<array>
				<string>Deep-loamy</string>
				<string>alluvial soil</string>
			</array>
			<key>TopProducers</key>
			<array>
				<string>India</string>
			</array>
		</dict>
		<dict>
			<key>CropName</key>
			<string>Clove</string>
			<key>MinTemp</key>
			<integer>25</integer>
			<key>MaxTemp</key>
			<integer>35</integer>
			<key>MinRainfall</key>
			<integer>200</integer>
			<key>MaxRainfall</key>
			<integer>250</integer>
			<key>ImageName</key>
			<string>clove.jpg</string>
			<key>SoilTypeToDisplay</key>
			<string>red alluvial</string>
			<key>ProducersToDisplay</key>
			<string>India (Kerala, Tamil Nadu, Karnataka)</string>
			<key>SoilType</key>
			<array>
				<string>Red alluvial </string>
			</array>
			<key>TopProducers</key>
			<array>
				<string>India</string>
			</array>
		</dict>
		<dict>
			<key>CropName</key>
			<string>Black Pepper</string>
			<key>MinTemp</key>
			<integer>15</integer>
			<key>MaxTemp</key>
			<integer>40</integer>
			<key>MinRainfall</key>
			<integer>200</integer>
			<key>MaxRainfall</key>
			<integer>300</integer>
			<key>ImageName</key>
			<string>blackpepper.jpg</string>
			<key>SoilTypeToDisplay</key>
			<string>rich in hums, red loam to sandy loam, red lateritic sandy loam</string>
			<key>ProducersToDisplay</key>
			<string>India (Kerala, Karnataka, Tamil Nadu)</string>
			<key>SoilType</key>
			<array>
				<string>rich in hums</string>
				<string> red-loam</string>
				<string>sandy loam</string>
				<string>red lateritic sandy loam</string>
			</array>
			<key>TopProducers</key>
			<array>
				<string>India</string>
			</array>
		</dict>
		<dict>
			<key>CropName</key>
			<string>Cardamom</string>
			<key>MinTemp</key>
			<integer>10</integer>
			<key>MaxTemp</key>
			<integer>35</integer>
			<key>MinRainfall</key>
			<integer>150</integer>
			<key>MaxRainfall</key>
			<integer>400</integer>
			<key>ImageName</key>
			<string>cardamon.jpg</string>
			<key>SoilTypeToDisplay</key>
			<string>well drained lateritic </string>
			<key>ProducersToDisplay</key>
			<string>India (Kerala, Karnataka, Tamil Nadu)</string>
			<key>SoilType</key>
			<array>
				<string>well-drained lateritic   </string>
			</array>
			<key>TopProducers</key>
			<array>
				<string>India</string>
			</array>
		</dict>
		<dict>
			<key>CropName</key>
			<string>Turmeric</string>
			<key>MinTemp</key>
			<integer>20</integer>
			<key>MaxTemp</key>
			<integer>30</integer>
			<key>MinRainfall</key>
			<integer>150</integer>
			<key>MaxRainfall</key>
			<integer>250</integer>
			<key>ImageName</key>
			<string>tumeric.jpg</string>
			<key>SoilTypeToDisplay</key>
			<string>well drained clayey loam or red loamy</string>
			<key>ProducersToDisplay</key>
			<string>India (Andhra Pradesh, Karnataka, Kerala)</string>
			<key>SoilType</key>
			<array>
				<string>well-drained clayey loam</string>
				<string>red loamy soil </string>
			</array>
			<key>TopProducers</key>
			<array>
				<string>India</string>
			</array>
		</dict>
	</array>
</dict>
</plist>
